/* --------------------------
            GENERAL
   --------------------------
*/

body
{
    font-family: 'Shantell Sans', 'cursive';
    background-color: #982C29;
}

h1
{
    font-weight: bold;
    color: #AC4A51;
    text-align: center;
    margin: auto;
}

#logo img
{
    animation: slide 1.5s ease-out;
}

@keyframes slide
{
    from
    {
        opacity: 0;
        transform: translateY(-100px);
    }
    to
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

img
{
    max-width: 100%;
    height: auto;
}

#logo
{
    background-color: #F7F7F7;
    text-align: center;
    padding-top: 10px;
}

ul
{
    list-style: none;
}

section .heading
{
    text-align: center;
    padding-bottom: 20px;
}

.button1
{
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    color: #AC4A51;
    border: 1px solid #333333;
    padding: 10px 10px;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
    text-transform: uppercase;
    margin: auto;
}

.button1:hover
{
    background-color: #AC4A51;
    color: #F7F7F7;
    border: 1px solid #333333;
}





/* --------------------------
            NAVBAR
   --------------------------
*/

.navbar-toggler
{
    color: #982C29;
    background-color: #982C29;
}


.navbar
{
    background-color: #F7F7F7;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;

}

.navbar-nav
{
   margin: 0px auto;
   text-align: center;
}

.nav-link
{
    color: #333333 !important;
    margin: 0 6px;
}

.nav-link.active,
.nav-link:hover
{
    color: #AC4A51 !important;
}


/* --------------------------
            ABOUT
   --------------------------
*/


#about
{
    background-color: #982C29;
}

#about #avatar1
{
    height: 870px;
    position: relative;
    top: -55px;
}

#about h2
{
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

#bio
{
    margin: 30px 20px;
    position: relative;
    top: 20px;
    animation: apparition 1.5s ease-out;
}

@keyframes apparition
{
    from
    {
        opacity: 0;
        transform: translateX(100px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
        
    }
}

#bio p
{
    color: #F7F7F7;
}

/* --------------------------
            BILLETTERIE
   --------------------------
*/

#billetterie
{
    background-color: #F7F7F7;
    padding: 25px 0 30px 0;
}

#billetterie h1
{
    color: #AC4A51;
    padding-bottom: 50px;
}

#billetterie h5
{
    font-size: 1.2em;
}

#billetterie #ville
{
    color: #888888;

}

#billetterie #heure
{
    color: #888888;
}

.enable
{
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    border: 1px solid #888888;
    color: #888888;
    padding: 10px 10px;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
    text-transform: uppercase;
    margin: auto;
}




/* --------------------------
            PICTURES
   --------------------------
*/

#pictures .heading
{
    text-align: center;
    padding-bottom: 0;
}

#pictures
{
    background-color: #982C29;
}

#pictures h1
{
    color: #F7F7F7;
    padding-top: 20px;
}

#pictures img
{
    width: 100%;
    height: 356px;
}

#pictures .col-md-4
{
    margin-bottom: 20px;
}

.img-thumbnail
{
    border: none !important;
    padding: 0.10rem;
}

iframe
{
    width: 560px !important;
    height: 311px !important;
    box-shadow: 10px 5px 5px #333333;
}





/* --------------------------
            CRITIQUES
   --------------------------
*/

#critiques 
{
    background-color: #982C29;
    padding-top: 10px;
}

#critiques h1
{
    color: #f7f7f7;
}

#critiques .heading
{
    padding-bottom: 20px;
}

.billetreduc
{
    text-align: center;
}

.noteCritique
{
    padding-top: 15px;
    color: #f7f7f7;
}

.notes
{
    background-color: #F7F7F7;
}

.titreh3
{
    text-align: center;
}

.titreh4
{
    text-align: center;
}

.para
{
    text-align: center;
}

.carousel-item
{
    padding-top: 12px;
    width: 407px;
    height: 290px;
    text-align: center;
}


/* --------------------------
            CONTACT
   --------------------------
*/

#contact
{
    padding: 5px 0 50px 0;
    background-color: #f7f7f7;
}

#contact h1
{
    color: #982C29;
    padding-top: 10px;
}

.form-control
{
    background-color: #dbd0d0;
}

#contact .button1
{
    margin-top: 15px;
}


/* --------------------------
            FOOTER
   --------------------------
*/


footer
{
    background-color: #f7f7f7;
    padding: 20px 0 40px;
}

footer span
{
    color: #333333;
    font-size: 25px;
    line-height: 35px;
}

footer span:hover
{
    color: #333333;
    font-size: 27px;
}

footer h5
{
    color: #982C29;
    font-weight: bold;
}

footer h6
{
    color: #982C29;
    font-weight: bold;
}

.reseau img
{
    height: 100px;
}

.insta
{
    color: #333333;
    height: 50px;
}

.facebook
{
    color: #0676E8;
}
