/* --------------------------
            GENERAL
   --------------------------
*/

body {
    font-family: 'Shantell Sans', sans-serif;
}

section .heading {
    text-align: center;
    padding: 15px 0 15px;
}

.button1 {
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    color: #AC4A51;
    border: 1px solid #333333;
    padding: 10px 10px;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
    text-transform: uppercase;
    margin: auto;
}

.button1:hover {
    background-color: #AC4A51;
    color: #F7F7F7;
    border: 1px solid #333333;
}

/* --------------------------
            NAVBAR
   --------------------------
*/

nav img {
    height: 80px;
}

.navbar-toggler
{
    color: #982C29;
    background-color: #982C29;
}

.navbar-toggler-icon {
  background-color: #982C29;
}

.navbar {
  background-color: #f7f7f7;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar-nav {
  margin: 0 auto;
  text-align: center;
}

.nav-link {
  color: #333333 !important;
  margin: 0 6px;
}

.nav-link.active,
.nav-link:hover {
  color: #982C29 !important;
}




/* --------------------------
            BIOGRAPHIE
   --------------------------
*/

#biographie {
    background-color:#982C29;
    color: #f7f7f7;
}

#bio {
        padding: 15px 0 15px;
        font-style: italic;
        text-align: center;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  

#biographie img {
    height: 525px;
    width: 450px;
    animation: apparition 1.5s ease-out;
}

@keyframes apparition {
    from
    {
        opacity: 0;
        transform: translateX(0px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
        
    }
}



#biographie .date {
    font-weight: bold;
}

#biographie p {
    text-align: left;
    font-style: italic;
    -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }


/* --------------------------
            BILLETTERIE
   --------------------------
*/

#billetterie h2,h5 {
    color:#982C29;
}


#billetterie #heure {
    font-style: italic;
    color: #888888;
}

#billetterie #ville {
    font-style: italic;
    color: #888888;
}

.enable {
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    border: 1px solid #888888;
    color: #888888;
    padding: 10px 10px;
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
    margin: auto;
}


/* --------------------------
            CRITIQUES
   --------------------------
*/

#critiques {
  background-color: #982C29;
  color: #f7f7f7;
  padding-bottom: 8px;

}

/* --------------------------
            GALERIE
   --------------------------
*/

#galerie {
  background-color: #f7f7f7;
  color: #982C29;
}

#galerie img
{
    width: 100%;
    height: 356px;
}

.img-thumbnail {
    border: none !important;
    padding: 0.10rem;
}

#galerie .col-md-4 {
    margin-bottom: 20px;
}

iframe {
    width: 560px !important;
    height: 311px !important;
    box-shadow: 10px 5px 5px #333333;
}

#videos {
  background: #982C29;
}


/* --------------------------
            CONTACT
   --------------------------
*/

#contact
{
    padding: 5px 0 50px 0;
    background-color: #f7f7f7;
}

#contact h1
{
    color: #982C29;
    padding-top: 10px;
}

.form-control
{
    background-color: #dbd0d0;
}

#contact .button1
{
    margin-top: 15px;
}

/* --------------------------
            FOOTER
   --------------------------
*/


footer
{
  background-color: #f7f7f7;
  padding: 20px 0 40px;
}

footer span
{
  color: #333333;
  font-size: 25px;
  line-height: 35px;
}

footer span:hover
{
  color: #333333;
  font-size: 27px;
}

footer p
{
  color: #982C29;
  font-weight: bold;
  font-size: 0.5em;
}

.insta
{
  color: #333333;
  height: 50px;
  font-size: 2rem;
}

.facebook
{
  color: #333333;
  font-size: 2rem;
}